<div class="single-page">
    <audio class="short">
        <source src="sounds/short.mp3" type="audio/mpeg">
    </audio>
    <audio class="long">
        <source src="sounds/long.mp3" type="audio/mpeg">
    </audio>
    <header>
        <span>
            <p>Score:</p>
            <p class="score">0</p>
        </span>
        <span>
            <p>Clicks:</p>
            <p class="click">25</p>
        </span>
    </header>
    <section>
        <article>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </article>
        <article>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </article>
        <article>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </article>
        <article>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </article>
    </section>
    <span class="container">
        <h3 class="win"></h3>
    </span>
    <script src="index.js"></script>
</div>